@media(max-width:768px) {

body,
.dashbrd-widget {
    min-width: auto;
    font-size: 50%;
}

.server-name {
  margin-left: 2px;
  margin-top: 5px;
  font-size: 60%;
  font-weight: bold;
}

article, main {
  margin-left: 130px;
  padding: 1px 16px;
  height: 100%;
  width: 100%;
  font-size: 40%;
}
.top-nav-container {
  background-color: #fff;
  height: 100%;
  width: 90px;
  line-height: 50%;
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: auto; }

.top-nav a:active, .top-nav a:hover, .top-nav a:link, .top-nav a:visited,
.top-subnav a:active,
.top-subnav a:hover,
.top-subnav a:link,
.top-subnav a:visited,
.header-logo:active,
.header-logo:hover,
.header-logo:link,
.header-logo:visited {
  display: block;
  padding: 16px;
  border: none; }

.top-nav {
  text-align: center;
  background-color: #fff;
  display: block; }
  .top-nav li {
    display: block;
    align-items: center; }
      .top-nav li.selected a, .top-nav li.selected a:hover {
        color: #1f2c33; }
  .top-nav a {
    padding: 15px 10px;
    color: rgba(31, 44, 51, 0.8);
    text-decoration: none;
    cursor: pointer;
    outline: 0; }
    .top-nav a:link {
      color: rgba(31, 44, 51, 0.8); }
    .top-nav a:visited {
      color: rgba(31, 44, 51, 0.8); }
    .top-nav a:hover {
      color: #1f2c33; }
    .top-nav a:focus {
      color: #1f2c33;
      background-color: #e8f5ff !important; }
    .top-nav a:active {
      color: #1f2c33; }

ul.top-nav-icons {
  position: relative;
  top: 0;
  right: 10px; }
  ul.top-nav-icons li {
    display: inline-block;
    padding: 0 0 0 5px; }
    ul.top-nav-icons li .search-suggest {
      min-width: 186px; }
      ul.top-nav-icons li .search-suggest li {
        padding: 0.4em 5px; }
        ul.top-nav-icons li .search-suggest li a {
          opacity: inherit;
          width: inherit; }
  ul.top-nav-icons a {
    display: block;
    width: 25px;
    height: 45px;
    line-height: 45px;
    color: #1f2c33;
    font-size: 0.917em;
    text-decoration: none;
    outline: 0;
    opacity: 0.75;
    filter: alpha(opacity=75);
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out; }
    ul.top-nav-icons a:hover {
      opacity: 1;
      filter: alpha(opacity=100); }
    ul.top-nav-icons a:focus {
      background-color: #e8f5ff !important;
      opacity: 1;
      filter: alpha(opacity=100); }
  ul.top-nav-icons .top-nav-help {
    background: url(../img/icon-sprite.svg) no-repeat -6px -32px;
    margin-left: 30px; }
  ul.top-nav-icons .top-nav-profile {
    background: url(../img/icon-sprite.svg) no-repeat -6px -104px;
    margin-left: 30px; }
  ul.top-nav-icons .top-nav-signout {
    background: url(../img/icon-sprite.svg) no-repeat -6px -140px;
    margin-left: 30px; }
  ul.top-nav-icons .top-nav-zbbshare {
    width: auto;
    -webkit-transform-style: preserve-3d; }
  ul.top-nav-icons .top-nav-support {
    width: auto;
    margin-right: 0; }
  ul.top-nav-icons form {
    position: relative; }
  ul.top-nav-icons input {
    background-color: #ededed;
    border: 1px solid #e6e6e6;
    width: 80px;
    margin-left: 25px;
    display: block;
    color: #1f2c33;
    padding: 4px 24px 4px 5px;
    opacity: 1;
    filter: alpha(opacity=100);
    transition: width 0.5s;
    -webkit-transition: width 0.5s; }
    ul.top-nav-icons input:focus {
      background-color: #fff;
      border: 1px solid #acbbc2;
      opacity: 1;
      filter: alpha(opacity=100); }
    ul.top-nav-icons input:focus + .btn-search {
      opacity: 1;
      filter: alpha(opacity=100); }

.top-subnav-container {
  height: 100%;
  width: 40px;
  line-height: 100%;
  font-size: 7px;
  margin-left: 90px;
  padding: 0;
  overflow: auto;
  text-align: center; }

.top-subnav {
  margin-top: 30px;
  margin-left: 90px;
  margin-right: 10px;
  font-size: 60%;
  width: 40px;
  left: 0;
  text-align: left; }

.cell,
.article div.table,
.article .table div.row {
  display: block;
}

.dashbrd-widget div.body,
header,
.article form ,
div.table-forms-container,
.article table.list-table
{
  overflow-x: auto;
}

.article table.list-table {
    display: block;
}
.nav {
    min-width: 950px;
}

.article .server-name {
  float:none;
  text-align: center;
    margin: 1rem auto;
}

.signin-container {
    width: auto;
}
.dashbrd-widget{
  margin: 0 0 10px;
}

.icon-maint::before, .icon-depend-up::before, .icon-depend-down::before, .icon-ackn::before {
display: none;
 }

#scrollbar_cntr {
    overflow-x: auto;
}
.header-title ul li {
    margin:4px;
}
.header-title ul {
    position: static;
}

.multiselect {
    width: 100% !important;
}
.hor-list {
    margin:1rem 0;
}
.list-table tbody tr td {
    text-align: center;
}
.table-forms-td-right input {
    width: auto !important;
}

div.footer .grey:after {
    content :" ";
    clear:both;
    display: block;
}
div.footer:after {
    content:"Powered by KOTA Digivice";
    display: block;
    margin-bottom: 1rem;
}

.multiselect, input[type="text"], input[type="password"], input[type="search"], input[type="number"], input[type="email"], input[type="time"], input[type="file"], textarea, select {
  border: 1px solid #acbbc2;
  color: #1f2c33;
  width: 75px !important;
  background-color: #fff;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s ease-out;
  -moz-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out; }
  .multiselect:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="time"]:focus, input[type="file"]:focus, textarea:focus, select:focus {
    border-color: #02659f; }
  .time-selection-container .time-quick-range {
    text-align: right;
    white-space: nowrap;
    margin: 0;
    font-size: 60%; }
    .time-selection-container .time-input {
      border-right: 1px solid #dfe4e7;
      padding: 0 10px 0 2px; }
  .time-selection-container .time-input li .icon-cal {
      transform: scale(0.8);
      margin-left: 2px; }
  .top-nav li#view{
    font-size: 85%;
    text-indent: -20px;
    line-height: 60px;
  }
  .top-nav li#cm{
    font-size: 85%;
    text-indent: -20px;
    line-height: 60px;
  }
  .top-nav li#reports{
    font-size: 85%;
    text-indent: -15px;
    line-height: 60px;
  }
  .top-nav li#config{
    font-size: 85%;
    text-indent: -20px;
    line-height: 60px;
  }
  .top-nav li#admin{
    font-size: 85%;
    text-indent: -20px;
    line-height: 60px;
  }

@media(max-width:375px) {
  .top-nav-container {
    width: 80px; }
  .top-subnav-container {
    margin-left: 80px;
    width: 60px; }
  .top-subnav {
    margin-left: 80px; 
    width: 60px;
     }
  main, article{
    margin-left: 140px;
  }
   ul.top-nav-icons input {
    visibility: hidden;}
    .btn-search{
      visibility: hidden;
    }
  ul.top-nav-icons .top-nav-help {
      margin-left: 20px; }
  ul.top-nav-icons .top-nav-profile {
    margin-left: 20px; }
  ul.top-nav-icons .top-nav-signout {
    margin-left: 20px; }
  ul.top-nav-icons .top-nav-zbbshare {
    margin-left: 20px;}
  ul.top-nav-icons .top-nav-support {
    margin-left: 20px; }

.logo {
  display: block;
  width: 50px;
  height: 50px;}

.top-nav li#view{
  font-size: 140%;
  transform: scale(0.6);
  margin-bottom: 2px;
}
.top-nav li#cm{
  font-size: 140%;
  transform: scale(0.6);
  margin-bottom: 2px;
}
.top-nav li#reports{
  font-size: 140%;
  transform: scale(0.6);
  margin-bottom: 2px;
}
.top-nav li#config{
  font-size: 140%;
  transform: scale(0.6);
  margin-bottom: 2px;
}
.top-nav li#admin{
  font-size: 140%;
  transform: scale(0.6);
  margin-bottom: 2px;
}
.dashbrd-grid-widget{
  min-width: 100% !important;
  position: static;
  max-height: 30% !important;
  float: left;
}
footer{
  position: fixed;
  top: 100%;
}
}

}
}



